* {
    font-size: 10px;
    min-height: 0px;
}

window#waybar {
    background-color: rgba(11, 11, 11, 0);
    color: #fff;
}


#workspaces {
  margin-top: -3px;
  margin-bottom: -5px;
}
#workspaces button{
    margin: 0 -5;    
}
#workspaces button.occupied{
    color: rgba(9, 9, 9, 0);
}
#workspaces button.active{
    color: rgba(9, 9, 9, 9);
}

#tray,
#clock{
    margin: 0 5px;
    margin-top: -3px;
    margin-bottom: -5px;
    min-width: 10px;
    padding: 0 0px;
    color: #000;
}
