* {
    font-size: 10px;
    min-height: 0px;
    margin-right:  -1px;
    margin-left:  -1px;
}

window#waybar {
    background-color: rgba(11, 11, 11, 0);
    color: #ffffff;
}

#tags {
    color: rgba(9, 9, 9, 0);
    padding: 0px;
}
#tags button{
    min-width: 0px;
    color: rgba(9, 9, 9, 0);
}

#tags button.occupied{
    color: #999;
}

#tags button.focused{
    color: #ffffff;
}

#tags button.urgent{
    background-color: #bccccc;
}

#clock{
    /* margin: 0 5px; */
    /* min-width: 10px; */
    /* padding: 0 0px; */
    /* color: #fff; */
    margin: 0 5px;
    margin-top: -5px;
    margin-bottom: -5px;
    min-width: 10px;
    padding: 0 0px;
    color: #fff;
}
#tray{
    margin-bottom: 5px;
    /* min-width: 10px; */
    padding: 0 0px;
    color: #fff;
}
