[Match]
Name=enp5s0

[Network]
DHCP=ipv4
DHCPClient=yes
LinkLocalAddressing=no
IPv6AcceptRA=no

[DHCP]
UseDNS=yes
UseMTU=yes
RequestOptions=1,3,6,15,26,28,121
